[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
jupyter = "*"
police-api-client = "*"
sqlalchemy = "*"
mysql-connector-python = "*"
mysql = "*"
boto3 = "*"
awscli = "*"
snowflake-connector-python = "==2.7.6"
pyyaml = "*"
snowflake-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.10"
